.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin: auto 10px;
    color: #f9faf8;
}

.left {
    margin: auto 20px;
    padding: 64px 32px;
    width: 360px;
}

.right {
    background-color: grey;
    margin: 20px 20px;
    padding: 64px 32px;    
    color: #f9faf8;
}
.upper-container {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.subtext {
    color: #e5e7eb;
}

.upper-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 128px;
}

.container .image {
    background-color: #3882f6;
    height: 36px;
    width: 64px;
    display: flex;
    margin: 20px 20px;
    border-radius: 12px;
}

.container .image-container {
    display: flex;
    width: 200px;
    margin: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-mid {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 128px;
}

.quote {
    font-style: italic;
    margin: 20px 20px;
}

.lower-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px;
}

.blue-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    margin: 20px 32px;
    border-radius: 12px;
    height: 100px;
    width: 1000px;
    padding: 20px 64px;
    color: #f9faf8;
}

.action {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button {
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 64px auto;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px auto;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:100%;
    width: 100%;
    min-height:100%;
}

html {
    height:100%;
    width: 100%;
    min-height:100%;
}

button {
    margin: 32px auto;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 12px;
    border-color: #f9faf8;
    padding: 8px 16px;
}


h1 {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}

ul {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    margin: auto 10px;
    padding: 10px;
}

a {
    margin: auto 10px;
}