.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin: auto 10px;
    color: #f9faf8;
}

.left {
    margin: auto 20px;
    padding: 64px 32px;
    width: 360px;
}

.right {
    background-color: grey;
    margin: 20px 20px;
    padding: 64px 32px;    
    color: #f9faf8;
}
.upper-container {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtext {
    color: #e5e7eb;
}

.upper-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .image {
    background-color: cornflowerblue;
    height: 36px;
    width: 64px;
    display: flex;
    margin: 20px 20px;
    border-radius: 12px;
}

.container .image-container {
    display: flex;
    width: 200px;
    margin: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    margin: 32px auto;
    background-color: cornflowerblue;
    color: #f9faf8;
    border-radius: 12px;
    padding: 8px 16px;
}


h1 {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}

ul {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    margin: auto 10px;
    padding: 10px;
}

a {
    margin: auto 10px;
}